/* CSS Document */

/* Main CSS */
html, body {
	margin: 0;
    background-color: darkslategrey;
    overflow-x: hidden;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.color-home {
    background-color: rgb(171,7,33);
    border: 3px solid #440203;
}

.txt-main {
    color: white;
    z-index: 2;
    width: 97.6%;
    padding: 20px;
    text-align: center;
}

.logo {
    display: inline-block;
    float: left;
    margin-left: 150px;
}

.slant-parent {
    background-color: grey;
    background-image: url("images/Index 1.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0px;
    padding-right: 100px;
    padding-left: 0px;
    padding-bottom: 0px;
    z-index: -1;
}

.slanted-right {
    color: white;
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 35% 100%);
    background-color: black;
    width: 100%;
    height: 350px;
    padding-top: 0px;
    padding-left: 150px;
    padding-right: 0px;
    display: inline-block;
    text-align: left;
}

.slanted-left {
    color: white;
    clip-path: polygon(0 0, 60% 0%, 65% 100%, 0 100%);
    background-color: black;
    width: 100%;
    height: 350px;
    padding-top: 0px;
    padding-right: 150px;
    padding-left: 0px;
    display: inline-block;
    text-align: center;
}

.slanttext-right {
    width: 55%;
    padding-left: 40%;
    text-align: right;
    padding-right: 2%;
}

.slanttext-left {
    width: 55%;
    text-align: left;
    padding-left: 2%;
}

.footer {
    text-align: center;
}

.darkbg {
    background-color: black;
    height: 450px;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
}

.video-darkbg {
    background-color: black;
    height: 450px;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 150px;
}

.contact-body {
    font-size: 20px;
    text-align: center;
    border: solid red 5px;
    color: white;
    background-color: black;
    height: 350px;
    width: 550px;
    margin: auto;
}

.videos-body {
    font-size: 20px;
    text-align: center;
    border: solid red 5px;
    color: white;
    background-color: black;
    height: 450px;
    width: 750px;
    margin: auto;
}

.demo-body {
    font-size: 20px;
    text-align: center;
    border: solid red 5px;
    color: white;
    background-color: black;
    height: 450px;
    width: 550px;
    margin: auto;
    margin-left: 350px;
}

.demo-right {
    float: right;
    display: inline-block;
    color: white;
    margin-right: 250px;
    text-align: center;
}

h1 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 100px;
	float: inherit;
	margin-top: 60px;
    margin-bottom: 35px;
}

h2 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 45px;
	margin-top: 35px;
    margin-bottom: 15px;
}

p {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-size: 22px;
}

.txt-row p {
    margin-top: 10px;
    margin-bottom: 25px;
}

/* Navbar */
.navleft {
    float: left;
    display: block;
    margin-left: 120px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 250px;
    padding-right: 250px;
    overflow: hidden;
    background-color: rgb(119,4,39); /* Fallback color */
    background-color: rgba(119,4,39,0.90); /* Black w/opacity/see-through */
}

li {
    font-size: 30px;
}

li a {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #B1B1B1;
}

.active {
    background-color: #4CAF50;
}

button {
    background-color: red; 
    color: rgb(119,4,39);
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: white;
}
