/* CSS Document */

/* Main CSS */
html, body {
	margin: 0;
    background-color: darkslategrey;
    overflow-x: hidden;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.logo {
    display: inline-block;
    float: left;
    margin-left: 150px;
}

.bg-main {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

.txt-main {
    color: white;
    z-index: 2;
    width: 97.6%;
    padding: 20px;
    text-align: center;
}

.parent {
    background-color: grey;
    background-image: url("images/Index 1.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0px;
    padding-right: 100px;
    padding-left: 0px;
    padding-bottom: 0px;
    z-index: -1;
}

.slanted-right {
    color: white;
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 35% 100%);
    background-color: black;
    width: 100%;
    height: 350px;
    padding-top: 0px;
    padding-left: 150px;
    padding-right: 0px;
    display: inline-block;
    text-align: left;
}

.slanted-left {
    color: white;
    clip-path: polygon(0 0, 60% 0%, 65% 100%, 0 100%);
    background-color: black;
    width: 100%;
    height: 350px;
    padding-top: 0px;
    padding-right: 150px;
    padding-left: 0px;
    display: inline-block;
    text-align: center;
}

.slanttext-right {
    width: 55%;
    padding-left: 40%;
    text-align: right;
    padding-right: 2%;
}

.slanttext-left {
    width: 55%;
    text-align: left;
    padding-left: 2%;
}

.footer {
    text-align: center;
}

.contact-main {
    background-color: black;
    height: 450px;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
}

.contact-body {
    font-size: 20px;
    text-align: center;
    border: solid red 5px;
    color: white;
    background-color: black;
    height: 350px;
    width: 550px;
    margin: auto;
}

h1 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 100px;
	float: inherit;
	margin-top: 60px;
    margin-bottom: 35px;
}

h2 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 45px;
	float: inherit;
	margin-top: 35px;
    margin-bottom: 15px;
}

p {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-size: 22px;
}

.txt-left {
    text-align: left;
    font-size: 24px;
    padding-left: 5px;
}

.txt-row p {
    margin-top: 10px;
    margin-bottom: 25px;
}

.txt-img {
    display: inline-block;
    float: left;
}

/* Navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 250px;
    padding-right: 250px;
    overflow: hidden;
    position: sticky;
    background-color: rgb(119,4,39); /* Fallback color */
    background-color: rgba(119,4,39,0.90); /* Black w/opacity/see-through */
}

li {
    font-size: 30px;
}

li a {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #B1B1B1;
}

.active {
    background-color: #4CAF50;
}

/* Configs */
.bg-home {
    background-image: url("images/bg-home.jpg");
    height: 100%;
}

.bg-about {
    background-image: url("images/bg-about.jpg");
    height: 195%;
}

.bg-land {
    background-image: url("images/bg-land.jpg");
    height: 210%;   
}

.bg-water {
    background-image: url("images/bg-water.jpg");
    height: 175%;   
}

.bg-rope {
    background-image: url("images/bg-rope.jpg");
    height: 175%;   
}



.title-else {
    width: 80%;
    transform: translate(-50%, -175%);
}

.txt-about {
    transform: translate(-50%, -11%);
}

.txt-land {
   transform: translate(-50%, -10%);  
}

.txt-water {
    transform: translate(-50%, -13%);
}

.txt-rope {
    transform: translate(-50%, -13%); 
}

.color-home {
    background-color: rgb(171,7,33);
    border: 3px solid #440203;
}

.color-about {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    border: 3px solid #23589c;
}

.color-land {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    border: 3px solid #20bf55;
}

.color-water {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    border: 3px solid #0e3b43;
}

.color-rope {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    border: 3px solid #2c8c61;
}
.navleft {
    float: left;
    margin-right: 150px;
}

.navright {
    float: right;
    margin-left: 150px;
}
